In [5]:
#encoding:utf8
import pandas as pd
from db import database

db = database.database()

start_date = 20170101
end_date = 20181220

YEAR_LIST = [2015,2016,2017,2018]
MONTH_LIST = [100*x+y for x in YEAR_LIST for y in range(1,13)]

def get_series_by_month(stock_code,yyyymm,freq=30):
    fields = "f_seq,f_date,f_time,f_close,f_high,f_low,f_open,f_preclose,f_amount,f_volume"
    args = [stock_code]
    sql = "select {} from t_mik_stock_{}_{} where f_code=%s".format(fields,str(freq),str(yyyymm))
    items = db.fetch_all(sql,args)

    if len(items)==0:
        df = pd.DataFrame()
    else:
        df = pd.DataFrame(items)
    return df

def get_hq_m(stock_code,start_date,end_date,freq=30):
    items = []
    st_m = start_date/100
    end_m = end_date/100
    m_list = [x for x in MONTH_LIST if x<=end_m and x>=st_m]
    
    #根据月份调取
    for month in m_list:
        df = get_series_by_month(stock_code,month,freq)
        items.append(df)
    df_res = pd.concat(items,axis=0)
    
    #去除开盘数据
    df_res = df_res[~df_res["f_time"].isin([930,1300])]    
    
    df_res["f_datetime"] = df_res["f_date"]*10000 + df_res["f_time"]
    df_res = df_res.sort_values(["f_datetime"])
    df_res = df_res[(df_res["f_date"]>start_date) & (df_res["f_date"]<=end_date)]
    return df_res.reset_index(drop=True)
    
# df_300 = pd.read_excel("000300.xlsx",sheet_name="data")
df_A = pd.read_excel("A_all.xlsx")
# code_300 = df_300["code"].tolist()
code_A = df_A["code"].tolist()


for stock_code in code_A[0:1]:
    print stock_code
    df = get_hq_m(stock_code,start_date,end_date)
    df.to_excel(r"data\30m\{}.xlsx".format(stock_code),sheet_name="data")
    print "stock_code:{} is finished!".format(stock_code)
print "OK!"

['1', '2', '4', '5', '6', '7', '8', '9', '10', '11', '12', '14', '16', '17', '18', '19', '20', '21', '23', '25', '26', '27', '28', '29', '30', '31', '32', '34', '35', '36', '37', '38', '39', '40', '42', '43', '45', '46', '48', '49', '50', '55', '56', '58', '59', '60', '61', '62', '63', '65', '66', '68', '69', '70', '78', '88', '89', '90', '96', '99', '100', '150', '151', '153', '155', '156', '157', '158', '159', '166', '301', '333', '338', '400', '401', '402', '403', '404', '407', '408', '409', '410', '411', '413', '415', '416', '417', '418', '419', '420', '421', '422', '423', '425', '426', '428', '429', '430', '488', '498', '501', '502', '503', '504', '505', '506', '507', '509', '510', '513', '514', '516', '517', '518', '519', '520', '521', '523', '524', '525', '526', '528', '529', '530', '531', '532', '533', '534', '536', '537', '538', '539', '540', '541', '543', '544', '545', '546', '547', '548', '550', '551', '552', '553', '554', '555', '557', '558', '559', '560', '561', '563', '564', '565', '566', '567', '568', '570', '571', '572', '573', '576', '581', '582', '584', '585', '586', '587', '589', '590', '591', '592', '593', '595', '596', '597', '598', '599', '600', '601', '603', '605', '606', '607', '608', '609', '610', '611', '612', '613', '615', '616', '617', '619', '620', '622', '623', '625', '626', '627', '628', '629', '630', '631', '632', '633', '635', '636', '637', '638', '639', '650', '651', '652', '655', '656', '657', '659', '661', '662', '663', '665', '666', '667', '668', '669', '670', '671', '672', '673', '676', '677', '678', '679', '680', '681', '682', '683', '685', '686', '687', '688', '690', '691', '692', '693', '695', '697', '698', '700', '701', '702', '703', '705', '707', '708', '709', '710', '711', '712', '713', '715', '716', '717', '718', '719', '720', '721', '722', '723', '725', '726', '727', '728', '729', '731', '732', '733', '735', '736', '737', '738', '739', '750', '751', '752', '753', '755', '756', '757', '758', '759', '760', '761', '762', '766', '767', '768', '776', '777', '778', '779', '780', '782', '783', '785', '786', '788', '789', '790', '791', '792', '793', '795', '796', '797', '798', '799', '800', '801', '802', '803', '806', '807', '809', '810', '811', '812', '813', '815', '816', '818', '819', '820', '821', '822', '823', '825', '826', '828', '829', '830', '831', '833', '835', '836', '837', '838', '839', '848', '850', '851', '852', '856', '858', '859', '860', '861', '862', '863', '868', '869', '875', '876', '877', '878', '880', '881', '882', '883', '885', '886', '887', '888', '889', '890', '892', '893', '895', '897', '898', '899', '900', '901', '902', '903', '905', '906', '908', '909', '910', '911', '912', '913', '915', '917', '918', '919', '920', '921', '922', '923', '925', '926', '927', '928', '929', '930', '931', '932', '933', '935', '936', '937', '938', '939', '948', '949', '950', '951', '952', '953', '955', '957', '958', '959', '960', '961', '962', '963', '965', '966', '967', '968', '969', '970', '971', '972', '973', '975', '976', '977', '978', '979', '980', '981', '982', '983', '985', '987', '988', '989', '990', '993', '995', '996', '997', '998', '999', '1696', '1872', '1896', '1965', '1979', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038', '2039', '2040', '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049', '2050', '2051', '2052', '2053', '2054', '2055', '2056', '2057', '2058', '2059', '2060', '2061', '2062', '2063', '2064', '2065', '2066', '2067', '2068', '2069', '2070', '2071', '2072', '2073', '2074', '2075', '2076', '2077', '2078', '2079', '2080', '2081', '2082', '2083', '2084', '2085', '2086', '2087', '2088', '2089', '2090', '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099', '2100', '2101', '2102', '2103', '2104', '2105', '2106', '2107', '2108', '2109', '2110', '2111', '2112', '2113', '2114', '2115', '2116', '2117', '2118', '2119', '2120', '2121', '2122', '2123', '2124', '2125', '2126', '2127', '2128', '2129', '2130', '2131', '2132', '2133', '2134', '2135', '2136', '2137', '2138', '2139', '2140', '2141', '2142', '2143', '2144', '2145', '2146', '2147', '2148', '2149', '2150', '2151', '2152', '2153', '2154', '2155', '2156', '2157', '2158', '2159', '2160', '2161', '2162', '2163', '2164', '2165', '2166', '2167', '2168', '2169', '2170', '2171', '2172', '2173', '2174', '2175', '2176', '2177', '2178', '2179', '2180', '2181', '2182', '2183', '2184', '2185', '2186', '2187', '2188', '2189', '2190', '2191', '2192', '2193', '2194', '2195', '2196', '2197', '2198', '2199', '2200', '2201', '2202', '2203', '2204', '2205', '2206', '2207', '2208', '2209', '2210', '2211', '2212', '2213', '2214', '2215', '2216', '2217', '2218', '2219', '2220', '2221', '2222', '2223', '2224', '2225', '2226', '2227', '2228', '2229', '2230', '2231', '2232', '2233', '2234', '2235', '2236', '2237', '2238', '2239', '2240', '2241', '2242', '2243', '2244', '2245', '2246', '2247', '2248', '2249', '2250', '2251', '2252', '2253', '2254', '2255', '2256', '2258', '2259', '2260', '2261', '2262', '2263', '2264', '2265', '2266', '2267', '2268', '2269', '2270', '2271', '2272', '2273', '2274', '2275', '2276', '2277', '2278', '2279', '2280', '2281', '2282', '2283', '2284', '2285', '2286', '2287', '2288', '2289', '2290', '2291', '2292', '2293', '2294', '2295', '2296', '2297', '2298', '2299', '2300', '2301', '2302', '2303', '2304', '2305', '2306', '2307', '2308', '2309', '2310', '2311', '2312', '2313', '2314', '2315', '2316', '2317', '2318', '2319', '2320', '2321', '2322', '2323', '2324', '2325', '2326', '2327', '2328', '2329', '2330', '2331', '2332', '2333', '2334', '2335', '2336', '2337', '2338', '2339', '2340', '2341', '2342', '2343', '2344', '2345', '2346', '2347', '2348', '2349', '2350', '2351', '2352', '2353', '2354', '2355', '2356', '2357', '2358', '2359', '2360', '2361', '2362', '2363', '2364', '2365', '2366', '2367', '2368', '2369', '2370', '2371', '2372', '2373', '2374', '2375', '2376', '2377', '2378', '2379', '2380', '2381', '2382', '2383', '2384', '2385', '2386', '2387', '2388', '2389', '2390', '2391', '2392', '2393', '2394', '2395', '2396', '2397', '2398', '2399', '2400', '2401', '2402', '2403', '2404', '2405', '2406', '2407', '2408', '2409', '2410', '2411', '2412', '2413', '2414', '2415', '2416', '2417', '2418', '2419', '2420', '2421', '2422', '2423', '2424', '2425', '2426', '2427', '2428', '2429', '2430', '2431', '2432', '2433', '2434', '2435', '2436', '2437', '2438', '2439', '2440', '2441', '2442', '2443', '2444', '2445', '2446', '2447', '2448', '2449', '2450', '2451', '2452', '2453', '2454', '2455', '2456', '2457', '2458', '2459', '2460', '2461', '2462', '2463', '2464', '2465', '2466', '2467', '2468', '2469', '2470', '2471', '2472', '2473', '2474', '2475', '2476', '2477', '2478', '2479', '2480', '2481', '2482', '2483', '2484', '2485', '2486', '2487', '2488', '2489', '2490', '2491', '2492', '2493', '2494', '2495', '2496', '2497', '2498', '2499', '2500', '2501', '2502', '2503', '2504', '2505', '2506', '2507', '2508', '2509', '2510', '2511', '2512', '2513', '2514', '2515', '2516', '2517', '2518', '2519', '2520', '2521', '2522', '2523', '2524', '2526', '2527', '2528', '2529', '2530', '2531', '2532', '2533', '2534', '2535', '2536', '2537', '2538', '2539', '2540', '2541', '2542', '2543', '2544', '2545', '2546', '2547', '2548', '2549', '2550', '2551', '2552', '2553', '2554', '2555', '2556', '2557', '2558', '2559', '2560', '2561', '2562', '2563', '2564', '2565', '2566', '2567', '2568', '2569', '2570', '2571', '2572', '2573', '2574', '2575', '2576', '2577', '2578', '2579', '2580', '2581', '2582', '2583', '2584', '2585', '2586', '2587', '2588', '2589', '2590', '2591', '2592', '2593', '2594', '2595', '2596', '2597', '2598', '2599', '2600', '2601', '2602', '2603', '2604', '2605', '2606', '2607', '2608', '2609', '2610', '2611', '2612', '2613', '2614', '2615', '2616', '2617', '2618', '2619', '2620', '2621', '2622', '2623', '2624', '2625', '2626', '2627', '2628', '2629', '2630', '2631', '2632', '2633', '2634', '2635', '2636', '2637', '2638', '2639', '2640', '2641', '2642', '2643', '2644', '2645', '2646', '2647', '2648', '2649', '2650', '2651', '2652', '2653', '2654', '2655', '2656', '2657', '2658', '2659', '2660', '2661', '2662', '2663', '2664', '2665', '2666', '2667', '2668', '2669', '2670', '2671', '2672', '2673', '2674', '2675', '2676', '2677', '2678', '2679', '2680', '2681', '2682', '2683', '2684', '2685', '2686', '2687', '2688', '2689', '2690', '2691', '2692', '2693', '2694', '2695', '2696', '2697', '2698', '2699', '2700', '2701', '2702', '2703', '2705', '2706', '2707', '2708', '2709', '2711', '2712', '2713', '2714', '2715', '2716', '2717', '2718', '2719', '2721', '2722', '2723', '2724', '2725', '2726', '2727', '2728', '2729', '2730', '2731', '2732', '2733', '2734', '2735', '2736', '2737', '2738', '2739', '2740', '2741', '2742', '2743', '2745', '2746', '2747', '2748', '2749', '2750', '2751', '2752', '2753', '2755', '2756', '2757', '2758', '2759', '2760', '2761', '2762', '2763', '2765', '2766', '2767', '2768', '2769', '2770', '2771', '2772', '2773', '2774', '2775', '2776', '2777', '2778', '2779', '2780', '2781', '2782', '2783', '2785', '2786', '2787', '2788', '2789', '2790', '2791', '2792', '2793', '2795', '2796', '2797', '2798', '2799', '2800', '2801', '2802', '2803', '2805', '2806', '2807', '2808', '2809', '2810', '2811', '2812', '2813', '2815', '2816', '2817', '2818', '2819', '2820', '2821', '2822', '2823', '2824', '2825', '2826', '2827', '2828', '2829', '2830', '2831', '2832', '2833', '2835', '2836', '2837', '2838', '2839', '2840', '2841', '2842', '2843', '2845', '2846', '2847', '2848', '2849', '2850', '2851', '2852', '2853', '2855', '2856', '2857', '2858', '2859', '2860', '2861', '2862', '2863', '2864', '2865', '2866', '2867', '2868', '2869', '2870', '2871', '2872', '2873', '2875', '2876', '2877', '2878', '2879', '2880', '2881', '2882', '2883', '2884', '2885', '2886', '2887', '2888', '2889', '2890', '2891', '2892', '2893', '2895', '2896', '2897', '2898', '2899', '2900', '2901', '2902', '2903', '2905', '2906', '2907', '2908', '2909', '2910', '2911', '2912', '2913', '2915', '2916', '2917', '2918', '2919', '2920', '2921', '2922', '2923', '2925', '2926', '2927', '2928', '2929', '2930', '2931', '2932', '2933', '2935', '2936', '2937', '2938', '2939', '2940', '2941', '2942', '2943', '300001', '300002', '300003', '300004', '300005', '300006', '300007', '300008', '300009', '300010', '300011', '300012', '300013', '300014', '300015', '300016', '300017', '300018', '300019', '300020', '300021', '300022', '300023', '300024', '300025', '300026', '300027', '300028', '300029', '300030', '300031', '300032', '300033', '300034', '300035', '300036', '300037', '300038', '300039', '300040', '300041', '300042', '300043', '300044', '300045', '300046', '300047', '300048', '300049', '300050', '300051', '300052', '300053', '300054', '300055', '300056', '300057', '300058', '300059', '300061', '300062', '300063', '300064', '300065', '300066', '300067', '300068', '300069', '300070', '300071', '300072', '300073', '300074', '300075', '300076', '300077', '300078', '300079', '300080', '300081', '300082', '300083', '300084', '300085', '300086', '300087', '300088', '300089', '300090', '300091', '300092', '300093', '300094', '300095', '300096', '300097', '300098', '300099', '300100', '300101', '300102', '300103', '300104', '300105', '300106', '300107', '300108', '300109', '300110', '300111', '300112', '300113', '300114', '300115', '300116', '300117', '300118', '300119', '300120', '300121', '300122', '300123', '300124', '300125', '300126', '300127', '300128', '300129', '300130', '300131', '300132', '300133', '300134', '300135', '300136', '300137', '300138', '300139', '300140', '300141', '300142', '300143', '300144', '300145', '300146', '300147', '300148', '300149', '300150', '300151', '300152', '300153', '300154', '300155', '300156', '300157', '300158', '300159', '300160', '300161', '300162', '300163', '300164', '300165', '300166', '300167', '300168', '300169', '300170', '300171', '300172', '300173', '300174', '300175', '300176', '300177', '300178', '300179', '300180', '300181', '300182', '300183', '300184', '300185', '300187', '300188', '300189', '300190', '300191', '300192', '300193', '300194', '300195', '300196', '300197', '300198', '300199', '300200', '300201', '300202', '300203', '300204', '300205', '300206', '300207', '300208', '300209', '300210', '300211', '300212', '300213', '300214', '300215', '300216', '300217', '300218', '300219', '300220', '300221', '300222', '300223', '300224', '300225', '300226', '300227', '300228', '300229', '300230', '300231', '300232', '300233', '300234', '300235', '300236', '300237', '300238', '300239', '300240', '300241', '300242', '300243', '300244', '300245', '300246', '300247', '300248', '300249', '300250', '300251', '300252', '300253', '300254', '300255', '300256', '300257', '300258', '300259', '300260', '300261', '300262', '300263', '300264', '300265', '300266', '300267', '300268', '300269', '300270', '300271', '300272', '300273', '300274', '300275', '300276', '300277', '300278', '300279', '300280', '300281', '300282', '300283', '300284', '300285', '300286', '300287', '300288', '300289', '300290', '300291', '300292', '300293', '300294', '300295', '300296', '300297', '300298', '300299', '300300', '300301', '300302', '300303', '300304', '300305', '300306', '300307', '300308', '300309', '300310', '300311', '300312', '300313', '300314', '300315', '300316', '300317', '300318', '300319', '300320', '300321', '300322', '300323', '300324', '300325', '300326', '300327', '300328', '300329', '300330', '300331', '300332', '300333', '300334', '300335', '300336', '300337', '300338', '300339', '300340', '300341', '300342', '300343', '300344', '300345', '300346', '300347', '300348', '300349', '300350', '300351', '300352', '300353', '300354', '300355', '300356', '300357', '300358', '300359', '300360', '300362', '300363', '300364', '300365', '300366', '300367', '300368', '300369', '300370', '300371', '300373', '300374', '300375', '300376', '300377', '300378', '300379', '300380', '300381', '300382', '300383', '300384', '300385', '300386', '300387', '300388', '300389', '300390', '300391', '300392', '300393', '300394', '300395', '300396', '300397', '300398', '300399', '300400', '300401', '300402', '300403', '300404', '300405', '300406', '300407', '300408', '300409', '300410', '300411', '300412', '300413', '300414', '300415', '300416', '300417', '300418', '300419', '300420', '300421', '300422', '300423', '300424', '300425', '300426', '300427', '300428', '300429', '300430', '300431', '300432', '300433', '300434', '300435', '300436', '300437', '300438', '300439', '300440', '300441', '300442', '300443', '300444', '300445', '300446', '300447', '300448', '300449', '300450', '300451', '300452', '300453', '300454', '300455', '300456', '300457', '300458', '300459', '300460', '300461', '300462', '300463', '300464', '300465', '300466', '300467', '300468', '300469', '300470', '300471', '300472', '300473', '300474', '300475', '300476', '300477', '300478', '300479', '300480', '300481', '300482', '300483', '300484', '300485', '300486', '300487', '300488', '300489', '300490', '300491', '300492', '300493', '300494', '300495', '300496', '300497', '300498', '300499', '300500', '300501', '300502', '300503', '300504', '300505', '300506', '300507', '300508', '300509', '300510', '300511', '300512', '300513', '300514', '300515', '300516', '300517', '300518', '300519', '300520', '300521', '300522', '300523', '300525', '300526', '300527', '300528', '300529', '300530', '300531', '300532', '300533', '300534', '300535', '300536', '300537', '300538', '300539', '300540', '300541', '300542', '300543', '300545', '300546', '300547', '300548', '300549', '300550', '300551', '300552', '300553', '300554', '300555', '300556', '300557', '300558', '300559', '300560', '300561', '300562', '300563', '300565', '300566', '300567', '300568', '300569', '300570', '300571', '300572', '300573', '300575', '300576', '300577', '300578', '300579', '300580', '300581', '300582', '300583', '300584', '300585', '300586', '300587', '300588', '300589', '300590', '300591', '300592', '300593', '300595', '300596', '300597', '300598', '300599', '300600', '300601', '300602', '300603', '300604', '300605', '300606', '300607', '300608', '300609', '300610', '300611', '300612', '300613', '300615', '300616', '300617', '300618', '300619', '300620', '300621', '300622', '300623', '300624', '300625', '300626', '300627', '300628', '300629', '300630', '300631', '300632', '300633', '300634', '300635', '300636', '300637', '300638', '300639', '300640', '300641', '300642', '300643', '300644', '300645', '300647', '300648', '300649', '300650', '300651', '300652', '300653', '300654', '300655', '300656', '300657', '300658', '300659', '300660', '300661', '300662', '300663', '300664', '300665', '300666', '300667', '300668', '300669', '300670', '300671', '300672', '300673', '300674', '300675', '300676', '300677', '300678', '300679', '300680', '300681', '300682', '300683', '300684', '300685', '300686', '300687', '300688', '300689', '300690', '300691', '300692', '300693', '300694', '300695', '300696', '300697', '300698', '300699', '300700', '300701', '300702', '300703', '300705', '300706', '300707', '300708', '300709', '300710', '300711', '300712', '300713', '300715', '300716', '300717', '300718', '300719', '300720', '300721', '300722', '300723', '300724', '300725', '300726', '300727', '300729', '300730', '300731', '300732', '300733', '300735', '300736', '300737', '300738', '300739', '300740', '300741', '300742', '300743', '300745', '300746', '300747', '300748', '300749', '300750', '300751', '300752', '300753', '300760', '600000', '600004', '600006', '600007', '600008', '600009', '600010', '600011', '600012', '600015', '600016', '600017', '600018', '600019', '600020', '600021', '600022', '600023', '600025', '600026', '600027', '600028', '600029', '600030', '600031', '600033', '600035', '600036', '600037', '600038', '600039', '600048', '600050', '600051', '600052', '600053', '600054', '600055', '600056', '600057', '600058', '600059', '600060', '600061', '600062', '600063', '600064', '600066', '600067', '600068', '600069', '600070', '600071', '600072', '600073', '600074', '600075', '600076', '600077', '600078', '600079', '600080', '600081', '600082', '600083', '600084', '600085', '600086', '600088', '600089', '600090', '600091', '600093', '600094', '600095', '600096', '600097', '600098', '600099', '600100', '600101', '600103', '600104', '600105', '600106', '600107', '600108', '600109', '600110', '600111', '600112', '600113', '600114', '600115', '600116', '600117', '600118', '600119', '600120', '600121', '600122', '600123', '600125', '600126', '600127', '600128', '600129', '600130', '600131', '600132', '600133', '600135', '600136', '600137', '600138', '600139', '600141', '600143', '600145', '600146', '600148', '600149', '600150', '600151', '600152', '600153', '600155', '600156', '600157', '600158', '600159', '600160', '600161', '600162', '600163', '600165', '600166', '600167', '600168', '600169', '600170', '600171', '600172', '600173', '600175', '600176', '600177', '600178', '600179', '600180', '600182', '600183', '600184', '600185', '600186', '600187', '600188', '600189', '600190', '600191', '600192', '600193', '600195', '600196', '600197', '600198', '600199', '600200', '600201', '600202', '600203', '600206', '600207', '600208', '600209', '600210', '600211', '600212', '600213', '600215', '600216', '600217', '600218', '600219', '600220', '600221', '600222', '600223', '600225', '600226', '600227', '600228', '600229', '600230', '600231', '600232', '600233', '600234', '600235', '600236', '600237', '600238', '600239', '600240', '600241', '600242'

()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()
()

KeyError: 'f_time'

### 30分钟买卖点回测

* 引入包

In [1]:
#encoding:utf8
import pandas as pd
from db import database
from util import indictor

* 读取数据

In [2]:
df = pd.read_excel(r'data\30m\2.xlsx',sheet_name="data")
df

,f_amount,f_close,f_date,f_high,f_low,f_open,f_preclose,f_seq,f_time,f_volume,f_datetime
0,1.102054e+08,20.78,20170103,20.88,20.60,20.63,20.63,12,1000,5311472,201701031000
1,5.633500e+07,20.71,20170103,20.81,20.67,20.79,20.78,13,1030,2716599,201701031030
2,3.060239e+07,20.75,20170103,20.77,20.70,20.72,20.71,14,1100,1475796,201701031100
3,5.279873e+07,20.72,20170103,20.75,20.71,20.75,20.75,15,1130,2546505,201701031130
4,2.963818e+07,20.68,20170103,20.73,20.66,20.72,20.73,17,1330,1432380,201701031330
5,3.242910e+07,20.68,20170103,20.70,20.67,20.68,20.68,18,1400,1567764,201701031400
6,4.392430e+07,20.72,20170103,20.77,20.67,20.69,20.68,19,1430,2119076,201701031430
7,8.691549e+07,20.73,20170103,20.73,20.68,20.73,20.72,20,1500,4197277,201701031500
8,9.080559e+07,20.58,20170104,20.82,20.55,20.76,20.76,30372,1000,4395577,201701041000
9,9.250333e+07,20.53,20170104,20.63,20.45,20.57,20.58,30373,1030,4507435,201701041030
10,4.931503e+07,20.56,20170104,20.59,20.52,20.53,20.53,30374,1100,2399445,201701041100
11,4.599304e+07,20.65,20170104,20.70,20.52,20.56,20.56,30375,1130,2233878,201701041130
12,5.286550e+07,20.71,20170104,20.75,20.63,20.68,20.68,30377,1330,2555501,201701041330
13,1.618188e+08,20.88,20170104,20.95,20.66,20.72,20.71,30378,1400,7769091,201701041400
14,7.513031e+07,20.80,20170104,20.89,20.78,20.88,20.88,30379,1430,3608179,201701041430
15,1.138974e+08,20.85,20170104,20.85,20.78,20.81,20.80,30380,1500,5473094,201701041500
16,2.251362e+08,21.06,20170105,21.23,20.79,20.79,20.79,60752,1000,10672434,201701051000
17,8.191778e+07,20.96,20170105,21.08,20.92,21.07,21.06,60753,1030,3896748,201701051030
18,5.652206e+07,20.93,20170105,21.00,20.88,20.95,20.96,60754,1100,2700971,201701051100
19,3.124814e+07,20.94,20170105,20.96,20.91,20.93,20.93,60755,1130,1492560,201701051130
20,3.684177e+07,20.89,20170105,20.95,20.85,20.93,20.94,60757,1330,1763264,201701051330
21,6.062769e+07,21.06,20170105,21.06,20.89,20.89,20.89,60758,1400,2892342,201701051400
22,6.771005e+07,20.98,20170105,21.06,20.96,21.05,21.06,60759,1430,3223915,201701051430
23,8.273413e+07,20.93,20170105,20.98,20.90,20.98,20.98,60760,1500,3951229,201701051500
24,1.186690e+08,20.73,20170106,21.02,20.71,21.01,21.03,91172,1000,5701952,201701061000
25,5.253883e+07,20.75,20170106,20.78,20.71,20.73,20.73,91173,1030,2533400,201701061030
26,2.810729e+07,20.75,20170106,20.79,20.74,20.76,20.75,91174,1100,1353903,201701061100
27,2.061347e+07,20.76,20170106,20.79,20.73,20.76,20.75,91175,1130,992979,201701061130
28,7.669282e+07,20.67,20170106,20.75,20.65,20.74,20.74,91177,1330,3707572,201701061330
29,4.212392e+07,20.74,20170106,20.74,20.66,20.66,20.67,91178,1400,2034277,201701061400
...,...,...,...,...,...,...,...,...,...,...,...
3814,8.080952e+07,26.39,20181214,26.45,26.32,26.37,26.37,320859,1430,3064322,201812141430
3815,1.129956e+08,26.46,20181214,26.50,26.34,26.40,26.39,320860,1500,4276094,201812141500
3816,2.327278e+08,25.99,20181217,26.70,25.94,26.70,26.68,444264,1000,8891246,201812171000
3817,8.399513e+07,26.10,20181217,26.22,25.99,25.99,25.99,446386,1030,3214841,201812171030
3818,9.934732e+07,26.25,20181217,26.30,26.07,26.10,26.10,448508,1100,3792285,201812171100
3819,7.108696e+07,26.27,20181217,26.37,26.20,26.25,26.25,450630,1130,2703900,201812171130
3820,5.458132e+07,26.32,20181217,26.41,26.17,26.32,26.31,454874,1330,2076177,201812171330
3821,1.178215e+08,26.50,20181217,26.64,26.32,26.32,26.32,456996,1400,4442569,201812171400
3822,7.390632e+07,26.39,20181217,26.53,26.29,26.47,26.50,459118,1430,2799723,201812171430
3823,9.269299e+07,26.52,20181217,26.55,26.34,26.39,26.39,461240,1500,3503517,201812171500
3824,1.597730e+08,26.27,20181218,26.39,26.00,26.22,26.23,468364,1000,6105946,201812181000
3825,1.025542e+08,25.93,20181218,26.36,25.93,26.27,26.27,471926,1030,3928357,201812181030
3826,1.791120e+08,25.60,20181218,26.03,25.51,25.93,25.93,475488,1100,6940943,201812181100
3827,1.851774e+08,25.40,20181218,25.66,25.39,25.60,25.60,479050,1130,7261226,201812181130
3828,1.219249e+08,25.52,20181218,25.76,25.34,25.38,25.38,486174,1330,4771505,201812181330
3829,1.126340e+08,25.37,20181218,25.54,25.35,25.52,25.52,489736,1400,4433903,201812181400
3830,8.987376e+07,25.59,20181218,25.60,25.35,25.37,25.37,493298,1430,3527504,201812181430
3831,8.954946e+07,25.50,20181218,25.72,25.50,25.59,25.59,496860,1500,3498512,201812181500
3832,2.167761e+08,25.96,20181219,26.09,25.51,25.76,25.76,503984,1000,8395070,201812191000
3833,6.872099e+07,25.72,20181219,25.97,25.61,25.97,25.96,507546,1030,2663600,201812191030
3834,6.539442e+07,25.58,20181219,25.72,25.50,25.72,25.72,511108,1100,2553183,201812191100
3835,4.147740e+07,25.61,20181219,25.74,25.56,25.59,25.58,514670,1130,1617648,201812191130
3836,7.757546e+07,25.38,20181219,25.69,25.37,25.69,25.69,521794,1330,3044778,201812191330
3837,8.652013e+07,25.29,20181219,25.40,25.23,25.38,25.38,525356,1400,3419432,201812191400
3838,9.413740e+07,25.29,20181219,25.30,25.15,25.30,25.29,528918,1430,3733651,201812191430
3839,6.395575e+07,25.38,20181219,25.38,25.18,25.29,25.29,532480,1500,2529987,201812191500
3840,3.257433e+08,25.00,20181220,25.80,24.98,25.54,25.56,539604,1000,12877119,201812201000
3841,1.845380e+08,25.14,20181220,25.17,24.91,25.00,25.00,543166,1030,7372481,201812201030
3842,9.367630e+07,25.35,20181220,25.42,25.10,25.14,25.14,546728,1100,3708841,201812201100
3843,1.029054e+08,25.08,20181220,25.37,25.03,25.35,25.35,550290,1130,4091125,201812201130

In [3]:
f_close = df["f_close"]
rsi1,rsi2,rsi3 = indictor.RSI(f_close)
df['rsi1'] = rsi1
df["rsi2"] = rsi2
df["L20"] = 20
df["H80"] = 80
df["llv_low"] = indictor.LLV(df["f_low"],3)    #LLV(LOW,3)
df["llv_rsi1"] = indictor.LLV(df["rsi1"],3)    #LLV(RSI1,3)
df["llv_rsi2"] = indictor.LLV(df["rsi2"],6)    #LLV(RSI2,6)

df["cross_rsi1_rsi2"] = indictor.CROSS(df["rsi1"],df["rsi2"])
df["LLV_RSI2_21"] = map(lambda x: 1 if x<21 else 0 ,df["llv_rsi2"])

df["cross_rsi2_20"] = indictor.CROSS(df["rsi2"],df["L20"])
df["LOW_LLV"] = map(lambda x,y:1 if x==y else 0,df["f_low"],df["llv_low"])

df["LLV_RSI1_20"] = map(lambda x:1 if x<20 else 0,df["llv_rsi1"])

# df["pct_chg_8"] = df["f_close"]/df["f_close"].shift(8)-1

#买入条件1
df["B_01"] = df["cross_rsi1_rsi2"]*df["LLV_RSI2_21"]

#买入条件2
df["B_02"] = df["cross_rsi2_20"]*df["LOW_LLV"]

#买入条件3
df["B_03"] = df["cross_rsi1_rsi2"]*df["LLV_RSI1_20"]

df["B"] = map(lambda x,y,z:1 if (x+y+z)>0 else 0 ,df["B_01"],df["B_02"],df["B_03"])

#卖出条件1
df["S_01"] = indictor.CROSS(df["H80"],df["rsi1"])

#卖出条件2
df["S_02"] = df["B"].shift(8)

# df["S_02"] = map(lambda x,y : 1 if x*y<0 else 0,df["B"].shift(8),df["pct_chg_8"])


df["S"] = map(lambda x,y:1 if x+y>0 else 0,df["S_01"],df["S_02"])

# df.to_excel("30m_result.xlsx",sheet_name="data")
df

util\indictor.py:43: RuntimeWarning: invalid value encountered in maximum
  return np.maximum(s1,s2)

,f_amount,f_close,f_date,f_high,f_low,f_open,f_preclose,f_seq,f_time,f_volume,...,cross_rsi2_20,LOW_LLV,LLV_RSI1_20,B_01,B_02,B_03,B,S_01,S_02,S
0,1.102054e+08,20.78,20170103,20.88,20.60,20.63,20.63,12,1000,5311472,...,0,0,0,0,0,0,0,0,NaN,0
1,5.633500e+07,20.71,20170103,20.81,20.67,20.79,20.78,13,1030,2716599,...,0,0,0,0,0,0,0,0,NaN,0
2,3.060239e+07,20.75,20170103,20.77,20.70,20.72,20.71,14,1100,1475796,...,1,0,0,0,0,0,0,0,NaN,0
3,5.279873e+07,20.72,20170103,20.75,20.71,20.75,20.75,15,1130,2546505,...,0,0,1,0,0,0,0,0,NaN,0
4,2.963818e+07,20.68,20170103,20.73,20.66,20.72,20.73,17,1330,1432380,...,0,1,0,0,0,0,0,0,NaN,0
5,3.242910e+07,20.68,20170103,20.70,20.67,20.68,20.68,18,1400,1567764,...,0,0,0,0,0,0,0,0,NaN,0
6,4.392430e+07,20.72,20170103,20.77,20.67,20.69,20.68,19,1430,2119076,...,0,0,0,1,0,0,1,0,NaN,0
7,8.691549e+07,20.73,20170103,20.73,20.68,20.73,20.72,20,1500,4197277,...,0,0,0,0,0,0,0,0,NaN,0
8,9.080559e+07,20.58,20170104,20.82,20.55,20.76,20.76,30372,1000,4395577,...,0,1,1,0,0,0,0,0,0.0,0
9,9.250333e+07,20.53,20170104,20.63,20.45,20.57,20.58,30373,1030,4507435,...,0,1,1,0,0,0,0,0,0.0,0
10,4.931503e+07,20.56,20170104,20.59,20.52,20.53,20.53,30374,1100,2399445,...,1,0,1,1,0,1,1,0,0.0,0
11,4.599304e+07,20.65,20170104,20.70,20.52,20.56,20.56,30375,1130,2233878,...,0,0,1,0,0,0,0,0,0.0,0
12,5.286550e+07,20.71,20170104,20.75,20.63,20.68,20.68,30377,1330,2555501,...,0,0,0,0,0,0,0,0,0.0,0
13,1.618188e+08,20.88,20170104,20.95,20.66,20.72,20.71,30378,1400,7769091,...,0,0,0,0,0,0,0,0,0.0,0
14,7.513031e+07,20.80,20170104,20.89,20.78,20.88,20.88,30379,1430,3608179,...,0,0,0,0,0,0,0,0,1.0,1
15,1.138974e+08,20.85,20170104,20.85,20.78,20.81,20.80,30380,1500,5473094,...,0,0,0,0,0,0,0,0,0.0,0
16,2.251362e+08,21.06,20170105,21.23,20.79,20.79,20.79,60752,1000,10672434,...,0,0,0,0,0,0,0,0,0.0,0
17,8.191778e+07,20.96,20170105,21.08,20.92,21.07,21.06,60753,1030,3896748,...,0,0,0,0,0,0,0,0,0.0,0
18,5.652206e+07,20.93,20170105,21.00,20.88,20.95,20.96,60754,1100,2700971,...,0,0,0,0,0,0,0,0,1.0,1
19,3.124814e+07,20.94,20170105,20.96,20.91,20.93,20.93,60755,1130,1492560,...,0,0,0,0,0,0,0,0,0.0,0
20,3.684177e+07,20.89,20170105,20.95,20.85,20.93,20.94,60757,1330,1763264,...,0,1,0,0,0,0,0,0,0.0,0
21,6.062769e+07,21.06,20170105,21.06,20.89,20.89,20.89,60758,1400,2892342,...,0,0,0,0,0,0,0,0,0.0,0
22,6.771005e+07,20.98,20170105,21.06,20.96,21.05,21.06,60759,1430,3223915,...,0,0,0,0,0,0,0,0,0.0,0
23,8.273413e+07,20.93,20170105,20.98,20.90,20.98,20.98,60760,1500,3951229,...,0,0,0,0,0,0,0,0,0.0,0
24,1.186690e+08,20.73,20170106,21.02,20.71,21.01,21.03,91172,1000,5701952,...,0,1,0,0,0,0,0,0,0.0,0
25,5.253883e+07,20.75,20170106,20.78,20.71,20.73,20.73,91173,1030,2533400,...,0,1,0,0,0,0,0,0,0.0,0
26,2.810729e+07,20.75,20170106,20.79,20.74,20.76,20.75,91174,1100,1353903,...,0,0,0,0,0,0,0,0,0.0,0
27,2.061347e+07,20.76,20170106,20.79,20.73,20.76,20.75,91175,1130,992979,...,0,0,0,0,0,0,0,0,0.0,0
28,7.669282e+07,20.67,20170106,20.75,20.65,20.74,20.74,91177,1330,3707572,...,0,1,0,0,0,0,0,0,0.0,0
29,4.212392e+07,20.74,20170106,20.74,20.66,20.66,20.67,91178,1400,2034277,...,0,0,0,0,0,0,0,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3814,8.080952e+07,26.39,20181214,26.45,26.32,26.37,26.37,320859,1430,3064322,...,0,1,0,0,0,0,0,0,0.0,0
3815,1.129956e+08,26.46,20181214,26.50,26.34,26.40,26.39,320860,1500,4276094,...,0,0,0,0,0,0,0,0,0.0,0
3816,2.327278e+08,25.99,20181217,26.70,25.94,26.70,26.68,444264,1000,8891246,...,0,1,0,0,0,0,0,0,0.0,0
3817,8.399513e+07,26.10,20181217,26.22,25.99,25.99,25.99,446386,1030,3214841,...,0,0,0,0,0,0,0,0,0.0,0
3818,9.934732e+07,26.25,20181217,26.30,26.07,26.10,26.10,448508,1100,3792285,...,0,0,0,0,0,0,0,0,0.0,0
3819,7.108696e+07,26.27,20181217,26.37,26.20,26.25,26.25,450630,1130,2703900,...,0,0,0,0,0,0,0,0,0.0,0
3820,5.458132e+07,26.32,20181217,26.41,26.17,26.32,26.31,454874,1330,2076177,...,0,0,0,0,0,0,0,0,0.0,0
3821,1.178215e+08,26.50,20181217,26.64,26.32,26.32,26.32,456996,1400,4442569,...,0,0,0,0,0,0,0,0,0.0,0
3822,7.390632e+07,26.39,20181217,26.53,26.29,26.47,26.50,459118,1430,2799723,...,0,0,0,0,0,0,0,0,0.0,0
3823,9.269299e+07,26.52,20181217,26.55,26.34,26.39,26.39,461240,1500,3503517,...,0,0,0,0,0,0,0,0,0.0,0
3824,1.597730e+08,26.27,20181218,26.39,26.00,26.22,26.23,468364,1000,6105946,...,0,1,0,0,0,0,0,0,0.0,0
3825,1.025542e+08,25.93,20181218,26.36,25.93,26.27,26.27,471926,1030,3928357,...,0,1,0,0,0,0,0,0,0.0,0
3826,1.791120e+08,25.60,20181218,26.03,25.51,25.93,25.93,475488,1100,6940943,...,0,1,0,0,0,0,0,0,0.0,0
3827,1.851774e+08,25.40,20181218,25.66,25.39,25.60,25.60,479050,1130,7261226,...,0,1,1,0,0,0,0,0,0.0,0
3828,1.219249e+08,25.52,20181218,25.76,25.34,25.38,25.38,486174,1330,4771505,...,0,1,1,0,0,0,0,0,0.0,0
3829,1.126340e+08,25.37,20181218,25.54,25.35,25.52,25.52,489736,1400,4433903,...,0,0,1,0,0,0,0,0,0.0,0
3830,8.987376e+07,25.59,20181218,25.60,25.35,25.37,25.37,493298,1430,3527504,...,0,0,0,0,0,0,0,0,0.0,0
3831,8.954946e+07,25.50,20181218,25.72,25.50,25.59,25.59,496860,1500,3498512,...,0,0,0,0,0,0,0,0,0.0,0
3832,2.167761e+08,25.96,20181219,26.09,25.51,25.76,25.76,503984,1000,8395070,...,0,0,0,0,0,0,0,0,0.0,0
3833,6.872099e+07,25.72,20181219,25.97,25.61,25.97,25.96,507546,1030,2663600,...,0,0,0,0,0,0,0,0,0.0,0
3834,6.539442e+07,25.58,20181219,25.72,25.50,25.72,25.72,511108,1100,2553183,...,0,1,0,0,0,0,0,0,0.0,0
3835,4.147740e+07,25.61,20181219,25.74,25.56,25.59,25.58,514670,1130,1617648,...,0,0,0,0,0,0,0,0,0.0,0
3836,7.757546e+07,25.38,20181219,25.69,25.37,25.69,25.69,521794,1330,3044778,...,0,1,0,0,0,0,0,0,0.0,0
3837,8.652013e+07,25.29,20181219,25.40,25.23,25.38,25.38,525356,1400,3419432,...,0,1,0,0,0,0,0,0,0.0,0
3838,9.413740e+07,25.29,20181219,25.30,25.15,25.30,25.29,528918,1430,3733651,...,0,1,0,0,0,0,0,0,0.0,0
3839,6.395575e+07,25.38,20181219,25.38,25.18,25.29,25.29,532480,1500,2529987,...,0,0,0,0,0,0,0,0,0.0,0
3840,3.257433e+08,25.00,20181220,25.80,24.98,25.54,25.56,539604,1000,12877119,...,0,1,0,0,0,0,0,0,0.0,0
3841,1.845380e+08,25.14,20181220,25.17,24.91,25.00,25.00,543166,1030,7372481,...,0,1,0,0,0,0,0,0,0.0,0
3842,9.367630e+07,25.35,20181220,25.42,25.10,25.14,25.14,546728,1100,3708841,...,0,0,0,0,0,0,0,0,0.0,0
3843,1.029054e+08,25.08,20181220,25.37,25.03,25.35,25.35,550290,1130,4091125,...,0,0,0,0,0,0,0,0,0.0,0

In [5]:
B = 0
S = 1

items = []
for i in range(len(df)):
    item = {}
    if df.at[i,"B"]==1:
        if S==1 and B==0:
            
            f_datetime = df.at[i,"f_datetime"]
            item["datetime"] = f_datetime
            item["index"] = i
            item["status"] = "B"
            item["close"] = df.at[i,"f_close"]
            item["date"] = df.at[i,"f_date"]
            
            print "买点时间：{}".format(f_datetime)
            B=1
            S=0
            items.append(item)
        else:
            print "索引{}的买点为重复买点".format(i)
    
    if df.at[i,"S"] == 1:
        if B==1 and S==0:
            
            f_datetime = df.at[i,"f_datetime"]
            item["datetime"] = f_datetime
            item["index"] = i
            item["status"] = "S"
            item["close"] = df.at[i,"f_close"]
            item["date"] = df.at[i,"f_date"]
            
            print "卖点时间：{}".format(df.at[i,"f_datetime"])
            B=0
            S=1
            items.append(item)
        else:
            print "索引{}的卖点为重复卖点".format(i)

def get_netValues(revenueValues):
    netv = 1
    netvs = []
    for rate in revenueValues:
        netv *= 1+rate
        netvs.append(netv)
    return netvs

#买卖点DataFrame
df_b_s = pd.DataFrame(items)    

df_b_s.to_excel("df_b_s.xlsx")

print '--------------'

#计算每次交易的收益率
df_b_s["pct_chg"] = df_b_s["close"].pct_change()  

#提取每次卖出点的数据
df_s = df_b_s.loc[1::2]

#交易获正收益的数据
df_up = df_s[df_s["pct_chg"]>0]

#计算统计值
stats = {}
stats["test_sum"] = len(df)         #测试周期
stats["trade_count"] = len(df_s)    #交易次数
stats["revenue_count"] = df_up["pct_chg"].count()    #盈利次数
stats["winrate"] = stats["revenue_count"]*1.0/stats["trade_count"]*100    #胜率
stats["rev_max"] = df_s["pct_chg"].max()*100     #单次交易最大盈利
stats["rev_min"] = df_s["pct_chg"].min()*100    #单次交易最大亏损
stats["rev_sum"] = (get_netValues(df_s["pct_chg"].tolist())[-1]-1)*100   #总盈利

pd.DataFrame([stats])

买点时间：201701031430
索引10的买点为重复买点
卖点时间：201701041430
索引18的卖点为重复卖点
买点时间：201701131000
卖点时间：201701131400
索引71的卖点为重复卖点
索引72的卖点为重复卖点
索引178的卖点为重复卖点
索引248的卖点为重复卖点
买点时间：201703031030
索引309的买点为重复买点
卖点时间：201703061030
索引317的卖点为重复卖点
索引333的卖点为重复卖点
索引364的卖点为重复卖点
索引474的卖点为重复卖点
买点时间：201704111430
卖点时间：201704121030
索引518的卖点为重复卖点
买点时间：201704271130
卖点时间：201704281130
买点时间：201704281500
卖点时间：201705021500
买点时间：201705041000
卖点时间：201705051000
买点时间：201705091100
卖点时间：201705101100
索引680的卖点为重复卖点
索引689的卖点为重复卖点
买点时间：201705221500
卖点时间：201705231500
索引759的卖点为重复卖点
索引770的卖点为重复卖点
索引834的卖点为重复卖点
索引902的卖点为重复卖点
索引907的卖点为重复卖点
索引910的卖点为重复卖点
索引918的卖点为重复卖点
索引920的卖点为重复卖点
买点时间：201707051130
卖点时间：201707061130
索引1011的卖点为重复卖点
索引1041的卖点为重复卖点
买点时间：201707261000
卖点时间：201707271000
索引1129的卖点为重复卖点
买点时间：201708081030
卖点时间：201708091030
买点时间：201708141500
卖点时间：201708151500
索引1226的卖点为重复卖点
索引1232的卖点为重复卖点
索引1242的卖点为重复卖点
索引1278的卖点为重复卖点
索引1322的卖点为重复卖点
索引1327的卖点为重复卖点
索引1329的卖点为重复卖点
索引1339的卖点为重复卖点
索引1373的卖点为重复卖点
索引1378的卖点为重复卖点
索引1383的卖点为重复卖点
索引1388的卖点为重复卖点
买点时间：201709261000
卖点时间：201709271000
索引1473的卖点为重复卖点
索引1505的卖点为重复卖点
买点时间：201710181330
卖点时间：201710191330
索引1564的卖点为重复卖点
索引1569的卖点为重复卖点
索引1572的卖点为重复卖点
索引1600的卖点为重复卖点
索引1609的卖点为重复卖点
索引1685的卖点为重复卖点
索引1688的卖点为重复卖点
索引1721的卖点为重复卖点
索引1723的卖点为重复卖点
索引1725的卖点为重复卖点
索引1731的卖点为重复卖点
索引1776的卖点为重复卖点
买点时间：201712081400
卖点时间：201712111400
买点时间：201712181400
索引1879的买点为重复买点
卖点时间：201712191400
索引1887的卖点为重复卖点
索引1903的卖点为重复卖点
索引1914的卖点为重复卖点
索引1981的卖点为重复卖点
索引1983的卖点为重复卖点
索引2035的卖点为重复卖点
索引2041的卖点为重复卖点
索引2073的卖点为重复卖点
买点时间：201801311100
卖点时间：201802011100
买点时间：201802091130
卖点时间：201802121130
索引2195的卖点为重复卖点
索引2217的卖点为重复卖点
买点时间：201802281330
卖点时间：201803011330
索引2281的卖点为重复卖点
买点时间：201803141030
卖点时间：201803151030
买点时间：201803201100
卖点时间：201803211100
买点时间：201803221400
卖点时间：201803231400
索引2416的卖点为重复卖点
买点时间：201804161400
卖点时间：201804171400
索引2537的卖点为重复卖点
索引2540的卖点为重复卖点
买点时间：201804271030
索引2564的买点为重复买点
卖点时间：201805021030
索引2572的卖点为重复卖点
买点时间：201805031130
卖点时间：201805041130
买点时间：201805071030
卖点时间：201805081030
索引2608的卖点为重复卖点
买点时间：201805181030
卖点时间：201805211030
买点时间：201805281000
卖点时间：201805291000
买点时间：201805291330
卖点时间：201805301330
买点时间：201805311000
卖点时间：201806011000
索引2747的卖点为重复卖点
索引2754的卖点为重复卖点
索引2757的卖点为重复卖点
索引2807的卖点为重复卖点
索引2809的卖点为重复卖点
索引2851的卖点为重复卖点
买点时间：201806261030
索引2877的买点为重复买点
卖点时间：201806271030
索引2885的卖点为重复卖点
买点时间：201806271500
卖点时间：201806281500
买点时间：201807031000
卖点时间：201807041000
索引3031的卖点为重复卖点
索引3034的卖点为重复卖点
买点时间：201807271030
卖点时间：201807301030
买点时间：201808021430
卖点时间：201808031430
索引3121的卖点为重复卖点
索引3138的卖点为重复卖点
索引3186的卖点为重复卖点
索引3200的卖点为重复卖点
索引3228的卖点为重复卖点
买点时间：201809061430
卖点时间：201809071430
索引3363的卖点为重复卖点
索引3365的卖点为重复卖点
索引3384的卖点为重复卖点
买点时间：201810091030
卖点时间：201810101030
买点时间：201810121000
卖点时间：201810151000
索引3495的卖点为重复卖点
索引3502的卖点为重复卖点
索引3529的卖点为重复卖点
索引3558的卖点为重复卖点
索引3562的卖点为重复卖点
索引3654的卖点为重复卖点
索引3658的卖点为重复卖点
索引3664的卖点为重复卖点
索引3720的卖点为重复卖点
索引3789的卖点为重复卖点
索引3793的卖点为重复卖点
索引3803的卖点为重复卖点
--------------

,rev_max,rev_min,rev_sum,revenue_count,test_sum,trade_count,winrate
0,4.349577,-4.145408,11.930054,24,3844,39,61.538462

In [38]:
import pandas as pd
df = pd.read_excel('result300.xlsx',sheet_name="data")
df.loc[:,["rev_max","rev_min","rev_sum","revenue_count","trade_count","winrate"]].describe()

,rev_max,rev_min,rev_sum,revenue_count,trade_count,winrate
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,6.982056,-15.306794,-2.456715,13.510000,21.350000,62.585343
std,2.515311,9.560488,26.912885,3.805897,4.323944,10.149147
min,2.161828,-56.130868,-69.530968,2.000000,5.000000,18.181818
25%,5.129444,-18.590867,-20.967086,12.000000,19.000000,56.630435
50%,6.796185,-12.712668,-4.553112,14.000000,22.000000,63.157895
75%,8.472070,-9.195743,13.642001,16.000000,24.000000,69.565217
max,16.138975,-1.081081,94.964349,23.000000,32.000000,88.000000

In [104]:
df = pd.read_excel("result_TEST1.xlsx",sheet_name="data")
df.loc[:,["rev_max","rev_min","rev_sum","revenue_count","trade_count","winrate"]].describe()

,rev_max,rev_min,rev_sum,revenue_count,trade_count,winrate
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,5.804903,-6.304620,3.694834,20.310000,41.110000,49.573939
std,2.741000,5.292556,16.669053,5.384286,8.441689,9.238204
min,1.111111,-51.585728,-59.045052,4.000000,11.000000,26.666667
25%,3.968817,-7.450748,-7.549258,17.000000,36.000000,42.767857
50%,5.208820,-5.308766,2.329880,20.000000,41.000000,49.135618
75%,6.979196,-3.713459,13.353174,24.000000,46.000000,56.097561
max,19.250000,-0.918485,52.835597,41.000000,63.000000,76.744186

In [34]:
df = pd.read_excel("df_cmp_bs.xlsx",sheet_name="data")
df_gp = df.groupby(["date","status"],as_index=False).count()
# df_gp = df.groupby(["date"],as_index=False).count()
# print df_gp[df_gp["status"]=="B"].mean()
# print df_gp[df_gp["status"]=="S"].mean()
# df_gp.describe()

# df_res = df_gp.loc[:,["date","status","count"]]
df_gp.to_excel("df_bs_count.xlsx")
df_gp

         date status  close  datetime  index  stockcode  pct_chg
0    20170103      B     62        62     62         62        0
1    20170103      S      8         8      8          8        7
2    20170104      B     23        23     23         23        0
3    20170104      S     26        26     26         26       26
4    20170105      B      2         2      2          2        0
5    20170105      S     13        13     13         13       13
6    20170106      B     10        10     10         10        0
7    20170106      S      4         4      4          4        4
8    20170109      B     43        43     43         43       10
9    20170109      S      4         4      4          4        4
10   20170110      B      2         2      2          2        0
11   20170110      S      5         5      5          5        5
12   20170111      B     13        13     13         13        4
13   20170111      S      5         5      5          5        4
14   20170112      B     29        29     29         29        5
15   20170113      B     37        37     37         37       11
16   20170113      S     11        11     11         11       11
17   20170116      B     46        46     46         46       11
18   20170116      S     11        11     11         11       11
19   20170117      B      3         3      3          3        2
20   20170117      S      1         1      1          1        1
21   20170118      B      0         0      0          0        0
22   20170118      S     25        25     25         25       25
23   20170119      B      2         2      2          2        1
24   20170119      S      9         9      9          9        9
25   20170120      B      3         3      3          3        0
26   20170120      S     28        28     28         28       28
27   20170123      B      0         0      0          0        0
28   20170123      S     48        48     48         48       48
29   20170124      B      3         3      3          3        1
..        ...    ...    ...       ...    ...        ...      ...
911  20181129      B      0         0      0          0        0
912  20181129      S     35        35     35         35       35
913  20181130      B     31        31     31         31       31
914  20181130      S      1         1      1          1        1
915  20181203      B      0         0      0          0        0
916  20181203      S    119       119    119        119      119
917  20181204      B      1         1      1          1        1
918  20181204      S      5         5      5          5        5
919  20181205      B      2         2      2          2        2
920  20181205      S      1         1      1          1        1
921  20181206      B     13        13     13         13       13
922  20181207      B     54        54     54         54       54
923  20181207      S      1         1      1          1        1
924  20181210      B     32        32     32         32       32
925  20181210      S      7         7      7          7        7
926  20181211      B     13        13     13         13       13
927  20181211      S      3         3      3          3        3
928  20181212      B      1         1      1          1        1
929  20181212      S     25        25     25         25       25
930  20181213      B      1         1      1          1        1
931  20181213      S     50        50     50         50       50
932  20181214      B      7         7      7          7        7
933  20181214      S      3         3      3          3        3
934  20181217      B     64        64     64         64       64
935  20181217      S      1         1      1          1        1
936  20181218      B     25        25     25         25       25
937  20181218      S      4         4      4          4        4
938  20181219      B      4         4      4          4        4
939  20181219      S      2         2      2          2        2
940  20181220      B     18        18     18         18       18

[941 rows x 7 columns]

In [37]:
df = pd.read_excel("df_bs_count.xlsx",sheet_name="data")
df.loc[:,["B_COUNT","S_COUNT"]].describe()

          B_COUNT     S_COUNT
count  481.000000  481.000000
mean    13.667360   13.349272
std     15.845397   16.946566
min      0.000000    0.000000
25%      2.000000    4.000000
50%      8.000000    8.000000
75%     20.000000   17.000000
max    123.000000  194.000000

In [44]:
import pandas as pd
df = pd.read_excel('result300.xlsx',sheet_name="data")
df_60 = df[df["winrate"]>=60]
df_70 = df[df["winrate"]>=70]
df_70.loc[:,["rev_max","rev_min","rev_sum","revenue_count","trade_count","winrate"]].describe()

         rev_max    rev_min    rev_sum  revenue_count  trade_count    winrate
count  73.000000  73.000000  73.000000      73.000000    73.000000  73.000000
mean    7.448027 -14.708405  19.686629      16.657534    22.205479  74.927929
std     2.270228  10.254392  26.534783       3.448910     4.304258   4.384562
min     2.164009 -51.092896 -23.209478       5.000000     7.000000  70.000000
25%     5.772006 -19.089082   0.681767      15.000000    20.000000  71.428571
50%     7.675676 -12.307460  17.387070      17.000000    23.000000  73.913043
75%     8.888889  -8.481675  34.391712      19.000000    25.000000  76.923077
max    11.898017  -1.081081  94.964349      23.000000    29.000000  88.000000